<!DOCTYPE html>
<html lang="en">

<head>
	<title>Games</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/game.js') }}"></script>

</head>

<body>
	<!-- Begin Wrapper -->
	<div id="wrapper">
		<div class="container">
			{% block header %}
			{% endblock %}
			<div class="row">
				<a href="{{url_for('newGame')}}">
					<button class="btn btn-default" id="new-game">
						<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>Add Game
					</button>
				</a>
				<div class="col-md-3">

					<h2>Game genre</h2>
					<div id="Genre_menu">
					</div>
				</div>
				<div class="col-md-9">
					<div class="row">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Wrapper -->
</body>

</html>
